body {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 100px;
    margin-right: 40px;
}

h3 {
    font-weight: normal;
}

p {
    text-indent: 30px;
}



.meu-botao {
    background-color: #4CAF50; /* Cor de fundo */
    color: white;              /* Cor do texto */
    padding: 10px 20px;        /* Espaçamento interno */
    border: none;              /* Sem borda */
    border-radius: 5px;        /* Bordas arredondadas */
    cursor: pointer;           /* Cursor de mão ao passar o mouse */
    font-size: 16px;           /* Tamanho do texto */
    text-align: center;        /* Alinhamento do texto */
}

.meu-botao:hover {
    background-color: #45a049; /* Cor ao passar o mouse */
}


.imagem-container {
    position: relative;
    overflow: hidden;
  }
  
  .imagem-container img {
    width: 45%;
    height: auto;
    transition: transform 0.3s ease-in-out;
  }
  
  .imagem-container:hover img {
    transform: scale(1.1); /* Ajuste o valor conforme necessário para o efeito desejado */
  }

