/* Aplicando fonte global */
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Poppins', sans-serif;
  overflow: hidden;
  background-color: #0d1b2a;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.container {
  position: relative;
  text-align: left;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  z-index: 1;
  animation: borderChange 4s infinite alternate;
  width: 1200px;
  height: 600px;  
  overflow: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.content-wrapper {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-right: 20px;
}

h1, h3 {
  text-align: left;
  width: 100%;
}

h3 {
  font-weight: normal; 
}

/* Animação do contorno para um efeito mais suave */
@keyframes borderChange {
  0% {
      box-shadow: 0 0 20px 10px rgba(173, 216, 230, 0.5);
  }
  50% {
      box-shadow: 0 0 20px 10px rgba(176, 196, 222, 0.5);
  }
  100% {
      box-shadow: 0 0 20px 10px rgba(176, 224, 230, 0.5);
  }
}

/* Estilo moderno dos botões */
.buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.modern-button {
  background: linear-gradient(135deg, #90caf9, #2e4053);
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 30px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
}

.modern-button:hover {
  transform: translateY(-5px);
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  background: linear-gradient(135deg, #2e4053, #90caf9);
}

.cloud-text {
  font-family: 'New Century Schoolbook', serif;
  font-size: 3rem;
  font-weight: 700;
  color: #2e4053;
  letter-spacing: 0.05em;
  text-align: center;
  line-height: 1.2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.progress-bar {
  width: 100%;
  background-color: #e0e0e0;
  border-radius: 25px;
  overflow: hidden;
  margin: 20px 0;
}

.progress-bar-fill {
  height: 20px;
  background-color: #76c7c0;
  text-align: center;
  line-height: 20px;
  color: white;
  transition: width 0.5s;
}

.chart-container {
  width: 100%; /* O gráfico ocupará 100% da largura do container */
  height: auto; /* A altura se ajustará automaticamente */
  display: flex; /* Usar flexbox para centralizar o gráfico */
  justify-content: center; /* Centralizar horizontalmente */
  align-items: center; /* Centralizar verticalmente */
}

.processador-arrow {
  width: 50px; /* Ajuste o tamanho da seta */
  height: 20px; /* Ajuste o tamanho da seta */
  background-color: #2e4053; /* Cor da seta */
  display: inline-block; /* Para que a seta apareça corretamente */
}