<html>
  <head>
    <meta charset="utf-8" />
    <title>Auth0 Example</title>
  </head>
  <body>
    {% if session %}
        <h1>Ol Lara {{session.userinfo.name}}!</h1>
        <p><a href="/logout">Logout</a></p>
        <div><pre>{{pretty}}</pre></div>
    {% else %}
       <center> <h1>Bem vindo à BreamBuilder </h1>
        <div style="overflow: hidden;">
          <img src="{{ url_for('static', filename='images/logo-removebg-preview.png') }}">
        <p><a href="/login" >Login</a></p>
    {% endif %}
  </body>
</html>