<!DOCTYPE html>
[09:18, 15/10/2024] Lara P: <html lang="pt-BR"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APIs e API Gateway</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles2.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Introdução a APIs e API Gateway</h1>
        </header>
        <img src="/FLASK/static/images/imagen-1.png" alt="Ilustração de APIs"  class="imagem-principal">
        <h2>API</h2>

        API<b> (Application Programming Interface)</b> conjunto de regras e definições que permite que softwares  comuniquem entre si,<br>
        possibilita a integração de diferentes sistemas ou plataformas, promovendo a troca de dados e funcionalidades.

        <h3>Exemplos de API no dia a dia</h3>
        <p><b>Serviços de mapas:</b> Aplicativos de entrega ou transporte usam APIs de serviços de mapas (como Google Maps) para buscar informações de geolocalização e rotas.</p>
        <p><b>Redes Sociais:</b> Aplicativos terceiros podem utilizar APIs do Facebook ou Instagram para postar, buscar ou interagir com dados.</p>

        <h3>Tipos de API:</h3>
        <p><li><b>APIs REST:</b> Seguem princípios do protocolo <a href="https://developer.mozilla.org/pt-BR/docs/Web/HTTP" target="_blank"><strong>HTTP</strong></a>, permitindo que clientes façam requisições para recursos específicos via URL.</li></p>
        <img src="/FLASK/static/images/imagen-2.png" alt="Ilustração de APIs" class="imagem2">
        <p><li><b>APIs SOAP:</b> Usam <a href="https://developer.mozilla.org/en-US/docs/Web/XML" target="_blank"><strong>XML</strong></a> e são mais estruturadas, porém mais complexas.</li></p>
        <img src="/FLASK/static/images/imagen-3.avif" alt="Ilustração de APIs"  class="imagem2">
        <p><li><b>GraphQL:</b> Permite consultas mais flexíveis, onde o cliente define quais dados quer receber</li></p>
        <img src="/FLASK/static/images/imagen4.jpg" alt="Ilustração de APIs"  class="imagem2">

        <h3>Benefícios de uma API</h3>
        <p><b>Integração fácil :</b> Permitem que diferentes sistemas troquem dados de maneira simples e eficiente.</p>
        <p><b>Automação: </b>Processos que antes eram manuais podem ser automatizados usando APIs.</p>
        <p><b>Escalabilidade:</b> Empresas podem ampliar ou diversificar seus serviços, oferecendo APIs para parceiros e clientes.</p>
        <p><b>Segurança:</b> APIs podem controlar quais dados e funções são acessíveis, garantindo proteção e privacidade.</p>

        <h2>API Gateway</h2>
        <b>API Gateway</b> é um servidor intermediário que fica entre os clientes (como aplicativos ou usuários) e uma coleção de serviços backend.

        <h3>Função Principal</h3>
        <b>Gerenciamento centralizado de APIs:</b><br> O Gateway atua como ponto de entrada único para todas as APIs de um sistema. Isso facilita o controle, segurança e monitoramento das APIs.

        <h3>Principais Responsabilidades:</h3>
        <p><b>Autenticação e Autorização:</b> Valida quem pode acessar as APIs e garante que apenas usuários autorizados tenham permissão.</p>
        <p><b>Rate Limiting (Limitação de Requisições): </b> Limita o número de requisições que um cliente pode fazer em um período, protegendo o sistema contra sobrecarga.</p>
        <p><b>Roteamento de Solicitações:</b> Direciona as requisições dos clientes para o serviço adequado no backend.</p>
        <b>Agregação de Serviços:</b> Pode combinar dados de múltiplos serviços backend em uma única resposta para o cliente.

        <h3>Exemplo</h3>
        Um aplicativo de <b>e-commerce</b> que tem diferentes APIs para gerenciar estoque, pagamento e entrega.<br>
        O <b>API Gateway</b> recebe todas as requisições do cliente (como verificar estoque ou processar um pagamento), aut…
[09:18, 15/10/2024] Lara P: <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/FLASK/static/css/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>10794</title>
</head>
<body>
    

    <title>por defenit</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

    <div style="overflow: hidden;">
        <img src="/FLASK/static/images/logo-removebg-preview.png" alt="img" width="300" style="float: right; margin-left: 20px;">
<h1>Documentação do projeto: Dreambuilder</h1>

<h3>A Dreambuilder é uma aplicação web que consiste em ajudar users a realizar/concretizar metas/sonhos. 
    <br>Consoante a meta e o tempo disponível, a Dreambuilder vai construir um plano
    que permita a realização dessa meta. 
    <p>Esta aplicação permite também a comunicação entre users, seja individualmente através das amizades na app, ou através de grupos,
    o que ajuda a motivarem-se uns aos outros, partilha de experiências, troca de dicas/ideias e crescimento de grupo. 
    <p>A Dreambuilder está no dia a dia do user, o que faz o plano ser atingido na meta escolhida (data),ou seja o user tem que registar os seus dados diariamente, 
    criando um "streak". Para além disso envia notificações com frases motivacionais e lembretes. Para concluir a Dreambuilder faz uma análise semanal, com os dados registados ao
    longo da semana e através de uma AI fala com o user para rever o plano e se for preciso fazer alterações.
</h3>
    </div>

<h2>UML do trablho:</h2>


<div style="display: flex; align-items: flex-start;">
    <img src="/FLASK/static/images/diagram (2).png" width="400" style="margin-right: 100px;"> <!-- Ajuste o valor de margin-right conforme necessário -->
    <img src="/FLASK/static/images/diagram (1).png" width="1000" style="margin-left: 100px;"> <!-- Ajuste o valor de margin-left conforme necessário -->
</div>

   


            <br><br>
        <p><h2>Explicação de:</h2></p>

        <ul>
        
            ">API/API Gateway</button></a>
            <a href="/FLASK/templates/index3.html"><button class="meu-botao2">Microsserviços</button></a>

        </ul>

<div class="imagem-container">
    <img src="/FLASK/static/images/img.1.png" alt="img">
     </div>
 <br><br>
     <p><h3>Para este projeto vamos integrar 6 módulos:<p></p>
        <li>Administração de redes locais (0801)</li>
        <li>Processamento computacional (0802)</li>
        <li>Programação em C/C++ avançada (0810)</li>
        <li>Administração de bases de dados para programadores (3933)</li>
        <li>Programação de sistemas distribuídos - JAVA (0816)</li>
        <li>Programação avançada com Python (10794)</li><br>
        
        <p>Para este trabalho, vamos utilizar as linguagens: C/C++, Python, Java</p>

    <h3>Como dividimos o trabalho:</h3>
       <p><h3><li>Abdaisy: Explicação API</li></h3>
        <p><h3><li>Lara: Explicação Microsserviços. </li></h3>

           
<br><br><br><br><br><br>
    <div class="footer">
        <p>&copy; Realizado por: Abdaisy Conceição & Lara Pires</p>
    </div>
    
</body>
</html>