<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>10794</title>
</head>
<body>
    

    <title>por defenit</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<h1>Documentação do projeto: Sistema de Gerenciamento ERP</h1>

<p><h3>Este projeto é um ERP (Enterprise Resource Planning), ou Sistema de Planejamento de Recursos Empresariais, é um software que integra diversas funções e
     processos de uma empresa em uma única plataforma. Ele facilita a gestão e automação de atividades diárias, como finanças, recursos humanos, produção, 
     logística, vendas, compras, etc., promovendo uma visão global e integrada dos dados empresariais. <br>
    Para este projeto vamos integrar 6 módulos:<p>
        <li>Administração de redes locais (0801)</li>
        <li>Processamento computacional (0802)</li>
        <li>Programação em C/C++ avançada (0810)</li>
        <li>Administração de bases de dados para programadores (3933)</li>
        <li>Programação de sistemas distribuídos - JAVA (0816)</li>
        <li>Programação avançada com Python (10794)</li>
        
        <p>Para este trabalho, vamos utilizar as linguagens: C/C++, Python, Java</p>
<br><br><br>

    <h3>Como dividimos o trabalho:</h3>
       <p><h3><li>Abdaisy: Explicação API</li></h3>
        <p><h3><li>Lara: Explicação Microsserviços </li></h3>
        





            <br><br>
        <p><h2>Explicação de:</h2></p>

        <ul>
        
            <a href="/templates/index2.html"><button class="meu-botao1">API/API Gateway</button></a>
            <a href="/templates/index3.html"><button class="meu-botao2">Microsserviços</button></a>

        </ul>

<div class="imagem-container">
    <img src="/static/images/img.1.png" alt="img">
     </div>
<br><br><br><br><br><br>
    <div class="footer">
        <p>&copy; Realizado por: Abdaisy Conceição & Lara Pires</p>
    </div>
    
</body>
</html>