<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>10794</title>
</head>
<body>
    

    <title>por defenit</title>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
</head>
<body>

<h1>Documentação do projeto</h1>

        <div class="imagem-container">
            <img src="/static/images/img.1.png" alt="img">
          </div>
        <p>Para este trabalho, vamos utilizar: Flask, vamos usar uma API.</p>
<br><br><br>

    <h3>Como dividimos o trabalho:</h3>
       <p><h3><li>Abdaisy: Explicação API</li></h3>
        <p><h3><li>Lara: Explicação Microsserviços </li></h3>
        




<div class="imagem-container">
    <img src="/static/images/img.1.png" alt="img">
     </div>

            <br><br>
        <p><h2>Explicação de:</h2></p>

        <ul>
        
            <a href="/templates/index2.html"><button class="meu-botao1">API/API Gateway</button></a>
            <a href="/templates/index3.html"><button class="meu-botao2">Microsserviços</button></a>

        </ul>

<br><br><br><br><br><br>
    <div class="footer">
        <p>&copy; Realizado por: Abdaisy Conceição & Lara Pires</p>
    </div>
    
</body>
</html>